body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

#wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 20px;
  padding: 20px;
}

#wrapper > div {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

#categories {
  padding: 20px;
  border: 1px solid #ccc;
}

#products, #product {
  flex: 2;
  height: 0;
}

#products.active, #product.active {
  padding: 20px;
  border: 1px solid #ccc;
  height: inherit;
} 

#categories {
  flex: 1;
  max-width: 200px;
}



#categories > div {
  padding: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#categories > div:hover {
  background-color: #f0f0f0;
}

#products > div {
  margin-bottom: 10px;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#products > div:hover {
  background-color: #f0f0f0;
}



#product {
  text-align: center;
}

.button {
  cursor: pointer;
  padding: 10px 20px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #45a049;
}

#info {
  margin-top: 20px;
  background-color: #dff0d8;
  border-radius: 4px;
  color: #3c763d;
  text-align: center;
}

#info.active {
  padding: 10px;
}